* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    color: #2c3e50;
}

body, html {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #34495e;
}

h1 {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Paragraph & Typographic */

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */

a {
    color: #2c3e50;
    word-wrap: break-word;
}

a:hover, a:focus {
    opacity: 0.8;
    text-decoration: none;
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0px;
    border: 0 !important;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff', GradientType=0);
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #8870FF !important;
}

.navbar-right {
    margin-top: 35px;
}

.navbar-toggle {
    margin-top: 40px;
    margin-right: 30px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #2c3e50;
    opacity: 0.7;
}

/* logo */

.navbar-brand {
    font-family: 'Damion', cursive;
    font-size: 43px;
    color: #2c3e50 !important;
    /*color: #2980b9 !important;*/
    letter-spacing: -1px;
    padding: 35px !important;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.progress-bar-theme {
    background-color: #1abc9c;
}

/* Helpers */

.mt {
    margin-top: 40px;
    margin-bottom: 40px;
}

.pt {
    padding-top: 20px;
    padding-bottom: 40px;
}

#ww {
    padding-top: 10px;
    padding-bottom: 10px;
}

#ww a {
    text-decoration: underline;
}

#ww h1 {
    font-size: 26px;
    font-weight: bold;
}

#www {
    padding-top: 10px;
    padding-bottom: 10px;
}

#www a {
    text-decoration: underline;
}

#footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer p {
    color: #999;
}

#footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#footer ul li {
    display: inline;
    padding-right: 10px;
}

#footer h4 {
    color: #777;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#footer a {
    font-size: 32px;
    color: #FFF;
    opacity: 1.0;
}

#footer a:hover {
    color: #FFF;
    opacity: 0.7;
}

/* +++++ Color Wraps / Blog Page +++++ */

#grey {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f2f2f2;
}

#white {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
}

/* Blog Date*/

bd {
    font-size: 12px;
    text-transform: uppercase;
    color: #d2d2d2;
    font-weight: 700;
}

/* Blog Author*/

ba {
    font-size: 12px;
    text-transform: uppercase;
}

/* Blog Quote */

.bq {
    font-size: 22px;
    padding-top: 30px;
}

/* Blog Tags */

bt {
    font-size: 12px;
}

.zoom {
    display: block;
    position: relative;
    overflow: hidden;
    width: 200px;
    border: 1px solid #e0e0e0;
}

.zoomOverlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background-image: url(../img/zoom.png);
    background-repeat: no-repeat;
    background-position: center;
}

.zoom2 {
    opacity: 1;
}

.zoom2:hover {
    opacity: 0.5;
}

/* glyphicon Configuration */

.glyphicon {
    font-size: 40px;
    color: #1abc9c;
}

.project-name {
    margin-top: 0;
}

.col-lg-4 a {
    display: inline-block;
}

.col-lg-6 {
    text-align: center;
}

.col-lg-6 img {
    display: inline-block;
}

.text-align-center {
    text-align: center;
    font-size: 22px;
    color: orangered;
}

.project-name i:first-child, #www h3 i:first-child {
    padding-left: 10px;
}

/* indicate apple, android, html5 and other code with icon */

.project-name i, #www h3 i {
    color: #999;
}

h1.welcome-message {
    margin-bottom: 40px;
}

a.download-resume {
    color: white;
    text-decoration: none !important;
    background: #2ecc71;
    padding: 10px 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

a.download-resume:hover {
    background: #2ecc71;
}

a.download-resume i, a.download-resume:hover i {
    color: white;
}

.screenshot-border {
    border: 4px solid #000;
}

.col-xs-6 a {
    display: inline-block;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #e5e5e5 !important;
}

ul.list-unstyled li {
    display: block;
    margin-bottom: 5px;
}

ul.list-unstyled a {
    text-decoration: none !important;
    color: #27ae60;
}

ul.list-unstyled a:hover {
    opacity: 0.7;
}

ul.list-unstyled p {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 15px;
    color: #777;
}