<div id="www">
    <div class="container">
<!-- 		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>HI, I'M CLEBER</h3>
			</div>
		</div>
 -->
		<div class="row mt">
			<div class="col-lg-8 col-lg-offset-2 centered">
                <img src="/img/me@2x.png" width="260" height="260" /><br/><br/><br/>

				<p>My name is Cleber (or just Binho) and currently I work as full-time iOS developer at <a href="http://metalab.co">MetaLab</a> and live in Curitiba/Paraná with my wife and dog.</p>

				<p>I have ten years of experience with development with languages like PHP, Python, Objective-C (Learning Swift), C++, C# and databases like Oracle, Sybase, MongoDB and MySQL. I always try to write clean and maintanable code following design patterns and keeping the UI at pixel perfect level. Already worked in companies from education, telecom and bank areas and I try to always learn more and more.</p>

				<p>In my spare time I like to work in personal projects and <a href="http://planetofvisions.tumblr.com">take some photos</a>.</p>

				<br/>
				<a href="other/cleber-santos_en.pdf" class="download-resume"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download Resume</a>
			</div>
		</div>
    </div>
</div>
