<div id="ww">
    <div class="container pt">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="welcome-message">Hey! Thanks for the visit 👋🏼</h1>
				<p>My name is Cleber and currently I work as full-time iOS developer at <a href="http://superflyapp.com">Superfly</a> and live in Curitiba/Paraná.</p>
				<p>If you want to talk more please ping me via social networks.</p>
			</div>
		</div>
    </div>
</div>
