<div id="ww">
    <div class="container pt">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 centered">
                <img src="/img/me@2x.png" width="260" height="260" /><br/><br/><br/>

				<p>My name is Cleber and currently I work as full-time iOS developer at <a href="http://metalab.co">MetaLab</a> and live in Curitiba/Brazil with my wife, son and dog.</p>

				<p>I have ten years of experience with development with languages like PHP, Python, Objective-C (Learning Swift), C++, C# and databases like Oracle, Sybase, MongoDB and MySQL. I always try to write clean and maintanable code following design patterns and keeping the UI at pixel perfect level.</p>

				<br/>
				<a href="other/cleber-santos_en.pdf" class="download-resume"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download Resume</a>
			</div>
		</div>
    </div>
</div>
