<div id="www">
    <div class="container centered">
		<p>Some projects I worked and personal projects</p>

		<div class="row col-md-12">
			<ul class="list-unstyled">
				<li><a href="/work/mobil1">&rarr; Mobil</a></li>
				<li><a href="/work/braspan">&rarr; Braspan</a></li>
				<li><a href="/work/fashion-pro">&rarr; FashionPro</a></li>
				<li><a href="/work/marisol">&rarr; Marisol</a></li>
				<li><a href="/work/uma-festa-no-ar">&rarr; Uma festa no ar</a></li>
				<li><a href="/work/pao-de-acucar">&rarr; Rádio Pão de Açucar</a></li>
				<li><a href="/work/lista-ninja">&rarr; Lista Ninja</a></li>
			</ul>

			<h2>Personal projects</h2>
			<ul class="list-unstyled">
				<li>
					<a href="https://itunes.apple.com/app/id1210451294?mt=8">&rarr; Panoramit</a>
					<p>Share panorama photos as single post to Instagram</p>
				</li>
				<li><a href="/work/colora">&rarr; Colora for Tumblr</a></li>
				<li><a href="/work/4series">&rarr; 4Series</a></li>
				<li><a href="/work/meu-saldo">&rarr; Meu Saldo</a></li>
				<li><a href="https://github.com/binho/myservertalks">&rarr; MyServerTalks</a></li>
			</ul>
		</div>

    </div>
</div>
