<div id="www">
    <div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>WORKS</h3>
				<p>Some projects I worked</p>
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-4">
				<a class="zoom green" href="/work/mobil1"><img class="img-responsive" src="img/work/mobil1/cover@2x.jpg" alt="" width="200" height="150" /></a>
				<p class="project-name">Mobil <i class="fa fa-apple fa-1x"></i></p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="/work/braspan"><img class="img-responsive" src="img/work/braspan/cover@2x.jpg" alt="" width="200" height="150" /></a>
				<p class="project-name">Braspan <i class="fa fa-apple fa-1x"></i> <i class="fa fa-android fa-1x"></i></p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="/work/colora"><img class="img-responsive" src="img/work/colora/cover@2x.jpg" alt="" width="200" height="150" /></a>
				<p class="project-name">Colora for Tumblr <i class="fa fa-apple fa-1x"></i></p>
			</div>
		</div>
		<div class="row mt centered">
			<div class="col-lg-4">
				<a class="zoom green" href="/work/fashion-pro"><img class="img-responsive" src="img/work/fashion-pro/cover@2x.jpg" alt="" width="200" height="150" /></a>
				<p class="project-name">FashionPro <i class="fa fa-apple fa-1x"></i></p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="/work/marisol"><img class="img-responsive" src="img/work/marisol/cover@2x.jpg" alt="" width="200" height="150" /></a>
				<p class="project-name">Marisol <i class="fa fa-apple fa-1x"></i></p>
			</div>
			<div class="col-lg-4">
				<a class="zoom" href="/work/uma-festa-no-ar"><img class="img-responsive" src="img/work/uma-festa-no-ar/cover@2x.jpg" alt="" width="200" height="150" /></a>
				<p class="project-name">Uma festa no ar <i class="fa fa-apple fa-1x"></i> <i class="fa fa-android fa-1x"></i></p>
			</div>
		</div>
		<div class="row mt centered">
			<div class="col-lg-4">
				<a class="zoom green" href="/work/meu-saldo"><img class="img-responsive" src="img/work/meu-saldo/cover@2x.jpg" alt="" width="200" height="150" /></a>
				<p class="project-name">Meu Saldo <i class="fa fa-apple fa-1x"></i></p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="/work/pao-de-acucar"><img class="img-responsive" src="img/work/pao-de-acucar/cover@2x.jpg" alt="" width="200" height="150" /></a>
				<p class="project-name">Rádio Pão de Açucar <i class="fa fa-apple fa-1x"></i></p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="/work/lista-ninja"><img class="img-responsive" src="img/work/lista-ninja/cover@2x.jpg" alt="" width="200" height="150" /></a>
				<p class="project-name">Lista Ninja <i class="fa fa-html5 fa-1x"></i></p>
			</div>
		</div>
		<div class="row mt centered">
			<div class="col-lg-4">
				<a class="zoom green" href="/work/4series"><img class="img-responsive" src="img/work/4series/cover@2x.jpg" alt="" width="200" height="150" /></a>
				<p class="project-name">4Series <i class="fa fa-html5 fa-1x"></i></p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="/work/myservertalks"><img class="img-responsive" src="img/work/myservertalks/cover@2x.jpg" alt="" width="200" height="150" /></a>
				<p class="project-name">MyServerTalks <i class="fa fa-code fa-1x"></i></p>
			</div>
		</div>

    </div>
</div>
