<div id="www">
    <div class="container">
		<div class="row col-md-12">
			<ul class="list-unstyled">
				<li><a href="/work/mobil1">Mobil</a></li>
				<li><a href="/work/braspan">Braspan</a></li>
				<li><a href="/work/fashion-pro">FashionPro</a></li>
				<li><a href="/work/marisol">Marisol</a></li>
				<li><a href="/work/uma-festa-no-ar">Uma festa no ar</a></li>
				<li><a href="/work/pao-de-acucar">Rádio Pão de Açucar</a></li>
				<li><a href="/work/lista-ninja">Lista Ninja</a></li>
			</ul>

			<h2>Personal Projects</h2>
			<ul class="list-unstyled">
				<li>
					<a href="https://itunes.apple.com/app/id1210451294?mt=8">Panoramit</a>
					<p>Share panorama photos as single post to Instagram</p>
				</li>
				<li><a href="/work/colora">Colora for Tumblr</a></li>
				<li><a href="/work/4series">4Series</a></li>
				<li><a href="/work/meu-saldo">Meu Saldo</a></li>
				<li><a href="https://github.com/binho/myservertalks">MyServerTalks</a></li>
			</ul>
		</div>

    </div>
</div>
