<div id="www">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>4Series <i class="fa fa-html5 fa-1x"></i></h3>
				<hr>
				<p>Service to TV shows addicteds keep track and be notified about new episodes.<br/><br/><i>Created using PHP (Zend Framework), Python and MySQL.</i></p>
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/4series/1.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/4series/2.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/4series/3.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/4series/4.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<p>
				<a href="http://www.4series.com">Website</a><br/>
			</p>
		</div>

	</div>
</div>