<div id="www">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Braspan <i class="fa fa-apple fa-1x"></i> <i class="fa fa-android fa-1x"></i></h3>
				<hr>
				<p>Product Catalog and simulator that works on iPads and Android tablets.<br/><br/><i>Created using Titanium SDK.</i></p>
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/braspan/1.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/braspan/2.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/braspan/3.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<p><iframe width="853" height="480" src="//www.youtube.com/embed/dtNH7W6s1RU?controls=0&color=white&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></p>
		</div>

		<div class="row mt centered">
			<p>
				<a href="https://itunes.apple.com/us/app/braspan/id891315140?mt=8">App Store</a><br/>
				<a href="https://play.google.com/store/apps/details?id=br.com.fg1.braspan">Google Play</a>
			</p>
		</div>

	</div>
</div>