<div id="www">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Colora for Tumblr <i class="fa fa-apple fa-1x"></i></h3>
				<hr>
				<p>Transform your favorite Tumblr blogs into colorful galleries with Colora for iPhone and iPad.<br/><br/><i>Created using Objective-C.</i></p>
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/colora/1.jpeg" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/colora/2.jpeg" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/colora/3.jpeg" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/colora/4.jpeg" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<p><iframe width="853" height="480" src="//www.youtube.com/embed/2nMjSt_4pAM?controls=0&color=white&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></p>
		</div>

		<div class="row mt centered">
			<p>
				<!-- <a href="http://binho.net/colora">Website</a><br/> -->
				<a href="https://itunes.apple.com/app/id790338865?mt=8">App Store</a>
			</p>
		</div>

	</div>
</div>