<div id="www">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>FashinPro <i class="fa fa-apple fa-1x"></i></h3>
				<hr>
				<p>App created for marketing agency to show and sell products. I also created the backend admin panel using PHP with Laravel Framework and some batch scripts in Python. Works online and offline.</p>
			</div>
		</div>

		<div class="row mt centered">
			<p><iframe width="853" height="480" src="//www.youtube.com/embed/THAp5YGGE48?controls=0&color=white&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></p>
			<p><iframe width="853" height="480" src="//www.youtube.com/embed/SmJjb9hTybI?controls=0&color=white&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></p>
		</div>

	</div>
</div>