<div id="www">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Lista Ninja <i class="fa fa-html5 fa-1x"></i></h3>
				<hr>
				<p>Site to publish and sell things.<br/><br/><i>Created using Python, Django and MySQL.</i></p>
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/lista-ninja/1.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/lista-ninja/2.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<p>
				<a href="http://www.listaninja.com.br">Website</a><br/>
			</p>
		</div>

	</div>
</div>