<div id="www">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Marisol <i class="fa fa-apple fa-1x"></i></h3>
				<hr>
				<p>App for fashion companies publish products created for Marisol (via Catarina agency). This app works online and offline and keep data between admin area and application in sync.<br/><br/><i>Created using PHP and MySQL (backend) and Objective-C.</i></p>
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/marisol/1.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/marisol/2.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/marisol/3.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/marisol/4.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/marisol/5.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/marisol/6.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/marisol/7.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/marisol/8.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<p><iframe width="853" height="480" src="//www.youtube.com/embed/KbKDHcdEWUo?controls=0&color=white&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></p>
		</div>

	</div>
</div>