<div id="www">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Meu Saldo <i class="fa fa-apple fa-1x"></i></h3>
				<hr>
				<p>App for keep track of your current money and expenses in meals credit cards. (Not published in App Store anymore).<br/><br/><i>Created using Python (data extraction) and Objective-C.</i></p>
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/meu-saldo/1.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/meu-saldo/2.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/meu-saldo/3.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/meu-saldo/4.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<p>
				<a href="https://github.com/binho/TicketSaldo">Source Code</a><br/>
			</p>
		</div>

	</div>
</div>