<div id="www">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Mobil <i class="fa fa-apple fa-1x"></i></h3><hr>
				<p>This app was created for Cosan Lubrificantes (biggest oil company in Brazil) and works offline and online. The app allows sellers to do all the steps when selling products like follow agenda, check-in in the store, suggest products and send purchases directly to the backend in Salesforce.<br/><br/><i>Note: This app is for internal use only and it's not published on App Store.</i></p>
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/mobil1/1.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/mobil1/2.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/mobil1/3.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/mobil1/4.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/mobil1/5.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/mobil1/6.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/mobil1/7.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/mobil1/8.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/mobil1/9.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/mobil1/10.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/mobil1/11.png" alt="" data-action="zoom">
			</div>
		</div>

	</div><!-- /container -->
</div>