<div id="www">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Uma festa no ar <i class="fa fa-apple fa-1x"></i> <i class="fa fa-android fa-1x"></i></h3><hr>
				<p>Interactive book for kids with animations and interactions like blow the iPad mic to turn off the candles and shake/move to parallax using accelerometer. This project converted the paperback version to a digital version for tablets. Runs in both iPad and Android devices.<br/><br/>Product created by: Aymará Educação<br/>Design for tablet: Fábio Alves.<br/><br/><i>Created using Cocos2d-x (C++).</i></p>
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/uma-festa-no-ar/1.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/uma-festa-no-ar/2.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/uma-festa-no-ar/3.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/uma-festa-no-ar/4.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/uma-festa-no-ar/5.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/uma-festa-no-ar/6.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/uma-festa-no-ar/7.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/uma-festa-no-ar/8.png" alt="" data-action="zoom">
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/uma-festa-no-ar/9.png" alt="" data-action="zoom">
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="/img/work/uma-festa-no-ar/10.png" alt="" data-action="zoom">
			</div>
		</div>

	</div><!-- /container -->
</div>